{% extends 'base.html' %}

{% block comment %}
<main>
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                {% if brand %}
                    <h2 class="card-title text-center">{{ brand.name }}</h2>
                    <h4>Ushbu brendga tegishli mashinalar:</h4>

                    {% if cars %}
                        <ul>
                            {% for car in cars %}
                                <li>
                                    <a href="{% url 'car_detail' pk=car.id %}">
                                        <p><b>{{ car.car_name }}</b></p>
                                        <p>Yili: {{ car.model_year }}</p>
                                        <p>Narxi: ${{ car.price }}</p>
                                    </a>
                                    <hr>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>🚗 Hozircha ushbu brendda mashinalar mavjud emas.</p>
                    {% endif %}
                {% else %}
                    <p>❌ Brend topilmadi.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock comment %}
